body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./boneImage.jpg");
  color: #7D4A50;
  text-align: center;
}

.App.dark {
  --font-color: #6F6B75;
  --background: url("./boneImageDark.jpg");
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App {
  background: var(--background);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  background-color: #FCE1E4;
  padding: 1px;
  font-size: 30px;
}

.header.purple {
  background-color: #E8DFF5;
}

.navbar {
  background-color: #DAEAF6;
  height: 44px;
  margin-top: -16px;
  padding-top: 0px;
}

.navUl {
  margin-left: 580px;
}

.navLi {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 20px;
}

a {
  display: block;
  padding: 10px;
  color:black;
}

li a:hover {
  background-color: #C1DFF5;
}

.dog-list {
  text-align: center;
  height: 2275px;
}

.filterButton {
  font-size: 20px;
  float: left;
  margin-left: 620px;
  margin-right: 380px;
  width: 200px;
  background-color: #DAEAF6;
  border-color: transparent;
}

.toggleDark {
  background-color: #E8DFF5;
  font-size: 18px;
  color: #6F6B75;
  float: left;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  margin-bottom: -100px;
}

.toggleDark.light {
  background-color: #FCE1E4;
  color: #7D4A50;
}

.dogsForAdopt {
  font-size: 30px;;
}

.dogsForAdopt.dark {
  color: white;
}

.dog-item {
  margin-left: 40px;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.card {
  background: #FCE1E4;
  box-shadow: 0 4px 5px 0 #E8DFF5;
  transition: 0.3s;
  width: 85%;
  margin: 30px 30px 5px 30px;
  padding: 25px 15px 15px 15px;
  border-radius: 10px;
}

.card.purple:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.card.purple {
  background: #E8DFF5;
  box-shadow: 0 4px 5px 0 #FCE1E4;
}

.dogItemLi {
  float: left;
  list-style-type: none;
}

img {
  width: 325px;
  height: 325px;
  overflow: hidden;
}

.formDiv {
  background-color: #FCE1E4;
  text-align: center;
  width: 84.3%;
  height: auto;
  margin-top: 50px;
  margin-left: 110px;
  padding-top:20px;
  padding-bottom:40px;
  border-radius: 50px;
}

.formDiv.purple {
  background-color: #E8DFF5;
}

#contactHeader {
  font-size: 30px;
}

.formUl {
  margin-left: -35px;
}

.formLi {
  list-style-type: none;
  margin-top: 30px;
}

input {
  font-size: 20px;
}

#formSubmitButton {
  font-size: 20px;
}

#formSubmitButton {
  margin-top: 10px;
}

.formThankYou {
  margin-left: 305px;
  margin-top: 30px;
  background-color: white;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.formThankYou.purple {
  background-color: #6F6B75;
  color: black;
}

#topA {
  display: block;
  width: 25px;
  margin-left: 585px;
  margin-top: 20px;
}

#topA:hover {
  background-color: white;
  border-radius: 100px;
}